
.title{
  margin: 15px 5px 10px 20px;
}

.help{
  float: right;
  margin: 20px 30px 0px 0px;
  cursor: pointer;
}

.helpList{
  padding-left: 20px;
}

.test{
  background-color: red;
}
.paddingBottom{
  background-color: peru;
  padding-bottom: 15px;
}

.selecting{
  background-color: black;
  color: white;
}

.markup-text{
  line-height: 300%;
  font-size: 20px;
  letter-spacing: 2px;
}

.selection{
  color: white;
}

.pointer {
  cursor: pointer;
}

.closeButton{
  cursor: pointer;
  position: absolute;
  right: 0px;
  top: 0px;
  background-color: red;
  color: white;
  font-size: 25px;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-weight: bold;
}

.closeButtonHolder{
  position: relative;
}